

.transaction-list-container {
    display: flex;
    align-items: left;
    background-color: var(--oxford-blue);
}
.transaction-list {
    display: flex;
    flex-direction: column;
    background-color: var(--oxford-blue);
    font-size: 20px;
    font-weight: 500;
    color: white;

}  
#table {
    overflow:scroll;
}
td {
    width: 200px;
}
.transaction-list tr {
    border: 2px solid var(--periwinkle);

}
.transaction-list tr:hover {
    background-color: black;
}
#input {

    box-sizing: border-box;
    margin-bottom: 20px;
    width: 1000px;
    padding: 5px 18px;
    font-size: 16px;
    border: 2px solid rgb(208, 208, 208);
    background-color: white;
    transition: all 0.3s;
    border-width: 2px;
    border-radius: 5px;
}