
.transaction-list {
    display: flex;
    flex-direction: column;
    background-color: var(--oxford-blue);
    font-size: 20px;
    font-weight: 500;
    color: white;

}  
td {
    width: 200px;
}
.transaction-list tr {
    border: 2px solid var(--periwinkle);

}
.transaction-list tr:hover {
    background-color: black;
}
