.App {
  --hookers-green: #517664;
  --periwinkle: #D8DCFF;
  --light-green: #94FBAB;
  --oxford-blue: #001427;
  --cordovon: #8E3B46;
  text-align: center;
  background-image: linear-gradient(var(--oxford-blue), var(--cordovon));
}
