@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  font-family: 'Roboto Slab', serif;
  
}
.App {
  --hookers-green: #517664;
  --periwinkle: #D8DCFF;
  --light-green: #94FBAB;
  --oxford-blue: #001427;
  --cordovon: #8E3B46;
  text-align: center;
  min-height: 100vh;

}
html body{
  margin: 0;

}
